html {
  height:100%;
}


body {
  height: 100%;
  background: url("/city-skyline.svg") bottom no-repeat;
  background-size: cover;
  margin: 0;
}

.pane {
  height: 100%;
  padding: 0;
}

#avatar {
  background: url("/main_avatar.png") no-repeat;
  width: 205px;
  height: 100%;
  background-size: contain;
  margin: 0 auto;
}

.clothes {
  position: absolute;
  height: 100%;
  width: 205px;
}

.timeSelectorContainer {
  overflow: hidden;
}

#scrollBox {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#scrollBox::-webkit-scrollbar {
  display: none;
}

#scrollContent {
  width: 100%;
  height: 300%;
}

#timeSelector {
  content: url("/timeSelector.png");
  height: 100%;
}