html,body { height:100%; }

.pane {
  float: left;
  height: 100%;
}

#pane1 {
  width: 20%;
}

#pane2 {
  width: 60%;
}

#pane3 {
  width: 20%;
}

.timeSelectorContainer {
  overflow: hidden;
}

#scrollBox {
  overflow: auto;
  position: absolute;
  width: 20%;
  height: 100%;
  z-index: 1;
}

#scrollBox::-webkit-scrollbar {
  display: none;
}

#scrollContent {
  width: 100%;
  height: 300%;
}

#timeSelector {
  content: url("/timeSelector.png");
  height: 100%;
}