.avatar-container {
  #avatar {
    background: url("/main_avatar.png") no-repeat;
    width: 205px;
    height: 100%;
    background-size: contain;
    margin: 0 auto;
  }

  .clothes {
    position: absolute;
    height: 100%;
    width: 205px;
  }
}